@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* -------shared styles------- */
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 19px 35px;
}
.btn-primary i {
  font-size: 16px;
  margin-right: 5px;
}
h2,
h3,
h4 {
  color: #181818;
}

p {
  color: #757575;
}

/* ---------header section---------- */

header {
  background: #fff8f3;
  height: 100vh;
  position: relative;
  background: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.developer-img {
  position: absolute;
  top: 40px;
  left: 30px;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 12%;
}
.logo {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
.logo span {
  color: #fd6e0a;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header li {
  margin-left: 50px;
}
header li a {
  text-decoration: none;
  color: var #474747;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 4% 0 12%;
}

.image-col img {
  width: 113%;
}
.header-content h2 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.header-content h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}
.header-content p {
  color: #757575;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.btn-tranparent {
  background: transparent;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
  margin-left: 20px;
}

/* ---------main section--------- */

.about-me {
  text-align: center;
  background: #fff8f3;
  margin: 130px auto;
  border-radius: 10px;
  padding: 130px;
}
.section-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}

.about-me p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.about-info {
  display: flex;
  justify-content: space-around;
}
.about-info h3 {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.about-info h3 span {
  font-weight: 700;
  color: #181818;
}
/* ----------------------------------------------------------- */

.what-i-do {
  text-align: center;
  margin: 130px 0;
}
.what-i-do > p {
  margin-bottom: 50px;
  padding: 0 130px;
}

.skill-box {
  display: flex;
  gap: 24px;
  text-align: left;
}

.skill-box .col {
  padding: 40px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-box .col img {
  margin-bottom: 30px;
}

.skill-box .col h3 {
  margin-bottom: 20px;
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}
.skill-box p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/* ---------footer section--------- */
